USE [master]
GO
/****** Object:  Database [TradePeg]    Script Date: 03/04/2017 01:21:40 ******/
CREATE DATABASE [TradePeg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TradePeg', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TradePeg.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TradePeg_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\TradePeg_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TradePeg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TradePeg]
GO
USE [TradePeg]
GO
/****** Object:  Table [dbo].[dictPackDescriptor]    Script Date: 03/04/2017 01:21:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictPackDescriptor](
	[PackDescriptorID] [int] IDENTITY(1,1) NOT NULL,
	[PackDescriptorText] [nvarchar](50) NOT NULL,
	[PackDescriptorAbbrev] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dictPackDescriptor] PRIMARY KEY CLUSTERED 
(
	[PackDescriptorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[dictUnitOfMeasure]    Script Date: 03/04/2017 01:21:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictUnitOfMeasure](
	[UoMID] [int] IDENTITY(1,1) NOT NULL,
	[UoMText] [nvarchar](100) NOT NULL,
	[UoMAbbrevText] [nvarchar](50) NOT NULL,
	[UoMTextPlural] [nvarchar](100) NOT NULL,
	[UoMAbbrevTextPlural] [nvarchar](50) NOT NULL,
	[IsBaseUoM] [bit] NOT NULL,
	[BaseUoMMultiplier] [float] NOT NULL,
	[BaseUoMID] [int] NOT NULL,
 CONSTRAINT [PK_dictUnitOfMeasure] PRIMARY KEY CLUSTERED 
(
	[UoMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[linkProductUnitOfMeasure]    Script Date: 03/04/2017 01:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linkProductUnitOfMeasure](
	[ProductId] [int] NOT NULL,
	[UoMID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pack]    Script Date: 03/04/2017 01:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pack](
	[ProductID] [int] NOT NULL,
	[PackID] [int] IDENTITY(1,1) NOT NULL,
	[PackSize] [float] NOT NULL,
	[PackPrice] [float] NOT NULL,
	[PackDescriptorID] [int] NOT NULL,
	[Divisor] [int] NOT NULL,
 CONSTRAINT [PK_Pack] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[PackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 03/04/2017 01:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[DisplayName] [nvarchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[linkProductUnitOfMeasure]  WITH CHECK ADD  CONSTRAINT [FK_linkProductUnitOfMeasure_dictUnitOfMeasure] FOREIGN KEY([UoMID])
REFERENCES [dbo].[dictUnitOfMeasure] ([UoMID])
GO
ALTER TABLE [dbo].[linkProductUnitOfMeasure] CHECK CONSTRAINT [FK_linkProductUnitOfMeasure_dictUnitOfMeasure]
GO
ALTER TABLE [dbo].[linkProductUnitOfMeasure]  WITH CHECK ADD  CONSTRAINT [FK_linkProductUnitOfMeasure_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[linkProductUnitOfMeasure] CHECK CONSTRAINT [FK_linkProductUnitOfMeasure_Product]
GO
ALTER TABLE [dbo].[Pack]  WITH CHECK ADD  CONSTRAINT [FK_Pack_dictPackDescriptor] FOREIGN KEY([PackDescriptorID])
REFERENCES [dbo].[dictPackDescriptor] ([PackDescriptorID])
GO
ALTER TABLE [dbo].[Pack] CHECK CONSTRAINT [FK_Pack_dictPackDescriptor]
GO
ALTER TABLE [dbo].[Pack]  WITH CHECK ADD  CONSTRAINT [FK_Pack_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Pack] CHECK CONSTRAINT [FK_Pack_Product]
GO
USE [master]
GO
